.c-home {
  &__title {
    font-family: "Frank Ruhl Libre", sans-serif; 
    font-weight: 400;
    font-size: 5rem;
    color: #C71585;
    font-kerning: none;
    -webkit-text-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
  }
}
